html{
    scroll-behavior: smooth;
    overflow-x: hidden  ;
}
#idinput{
    position: relative;
    left: -12.5em;
    width: 21.5em;
}
#search-button{
    left: -12.5em;
    position: relative;
}
#main-div{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 91%;
    width: 100%;
}
#info-div{
    position: relative;
    height: 80%;
    width: 30%;
    margin: 33px 58px;
    margin-right: 0px;
    background-color: rgb(8, 151, 139);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 20%);
}
#sub-div{
    position: relative;
    height: 80%;
    width: 53%;
    margin: 33px 22px;
    margin-left: 0px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 20%);
    z-index: 10;
    background-color: rgba(191, 255, 243, 0.503);
    padding: 30px;
}
.info-images{
    position: relative;
    height: 30px;
    width: 30px;
    top: 16%;
    left: 7%;
    display: inline;
}
.info-divs{
    left: 3%;
    height: 32px;
    top: 19%;
    width: 93%;
    margin-bottom: 10%;
    position: relative;
    margin-right: 0px;
}
.info-divs span{
    position: relative;
    left: 7%;
    top: 3px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}


#copyright{
    position: relative;
    height: 50px;
    width: 100%;
    bottom: -2.5%;
    background-color: rgb(2, 43, 45);
   
}
#copyright span{
    margin:  38%;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}